body{
    background-color: white;
    color: limegreen;
}
#mastHead{
    text-align:center;
}
#backImg{
    width: 650px;
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    
}
#startButton{
    color: white;
    background-color: black;
    font-size:30px;

}
#resetButton {
    color: white;
    background-color: black;
    font-size: 30px;
}
/*#after-submit{
    visibility: hidden;
}*/
#timeleft {
    color:limegreen
}